<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Go Survey </title>
        <link rel="shortcut icon" href="/Scripts/assets/images/favicon.png">

        <link href="/Scripts/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Scripts/assets/css/bootstrap-theme.min.css" rel="stylesheet">

        <link href="/Scripts/assets/css/owl.carousel.css" rel="stylesheet">
        <link href="/Scripts/assets/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="/Scripts/assets/css/magnific-popup.css" rel="stylesheet">

        <link href="/Scripts/assets/css/style.css" rel="stylesheet">


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="main">
            <header class="bg-img header">
                <nav class="navbar navbar-default navbar-ubutia">
                    <div class="container">
                        <div class="navigation-bar">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="logo">
                                        <!--logo start-->
                                   <a href="#" class="logo">Go <span class="lite">Survey</span></a>
                                     <!--logo end-->
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a class="btn ubutia-btn" href="/users/login">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>