<% include ../partials/head.ejs %>

                <div class="container">
                    <div class="row">
                        <div class="intro-box">
                            <div class="intro">
                                <h1>Let's create easy and free surveys</h1>
                                <p>Sign up now for free surveys, questions and responses</p>
                                <a class="btn ubutia-btn" href="/users/register">Register Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="about" class="about section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h2 class="title">About US</h2>
                            <p>
                             Go Survey offers a platform for designing your survey, sharing your survey online, and reviewing your survey's results. We've got a fantastic user experience and tons of great features.
                              </p>
                            <img src="/Scripts/assets/images/signature.png">
                            <span>COMP 308-Final Project</span>
                        </div>
                    </div>
                </div>
            </section>
            
  <% include ../partials/foot.ejs %>       