<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <br>
        <br>
        <br>
        <br>
          <h3>Survey Name:  </h3>
                      
                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q1TextField">q1 from db</label>
                      </li>
                      <li class="list-group-item">
                      <label for="a1TextField"> Answer from db </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q2TextField">q2 from db</label>
                      </li>
                      <li class="list-group-item">
                      <label for="a2TextField"> Answer from db </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q3TextField">q3 from db</label>
                      </li>
                      <li class="list-group-item">
                      <label for="a3TextField"> Answer from db </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q4TextField">q4 from db</label>
                      </li>
                      <li class="list-group-item">
                      <label for="a4TextField"> Answer from db </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q5TextField">q5 from db</label>
                      </li>
                      <li class="list-group-item">
                      <label for="a5TextField"> Answer from db </label>
                      </li>
                      </ul>
                     
           <!-- Redirect to my surveys or Dashboard -->
         
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
