<footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                           <h4  class="navbar-text">&copy; 2017 All Rights Reserved.</h4>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="/Scripts/assets/js/jquery-3.1.1.js"></script>
        <script src="/Scripts/assets/js/bootstrap.min.js"></script>
        <script src="/Scripts/assets/js/owl.carousel.min.js"></script>
        <script src="/Scripts/assets/js/jquery.magnific-popup.js"></script>
        <script src="/Scripts/assets/js/script.js"></script>
    </body>
</html>