<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <br>
        <br>
        <br>
         <br>
          <table class="table table-hover">
            <tr class="text-center">           
                <h1><span class="label label-default" style="color:black">Please choose which survey do you want to create?</span></h1>             
            </tr>
            <br>
             <br>
            <br>
            <tr>
              <td class="text-center">
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Short Answers</button>
                </td>
                <td class="text-center">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Rating on a scale of 4</button>       
                </td>
                <% include ../partials/createscratchpopup.ejs %>
            </tr>
          </table>

        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


