<% include ../partials/header.ejs %>

   <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <h2> Please choose survey to get answers. </h2>
        
        <ul class="list-group">
        <li class="list-group-item">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySurveyModal">Survey 1 from db</button>        
        </li>
        <li class="list-group-item">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySurveyModal">Survey 2 from db</button>              
        </li>
        <li class="list-group-item">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySurveyModal">Survey 3 from db</button>              
        </li>       
        </ul>
        <% include ../partials/analysiscount.ejs %>
        </div>
        <div class="ct-chart chartAnalysis"></div>
<pre><%- analytics %></pre>

<script>
 
let chart = new Chartist.Bar('.ct-chart', {
  labels: ['Q1', 'Q2', 'Q3', 'Q4', 'Q5'],
  series: <%- analytics %>.data
}, {
  stackBars: true,
  axisY: {
    labelInterpolationFnc: function(value) {
      console.log(value);
    //  return (value*<%=response.length %>) ;
    return(value / 1)
    }
  }
}).on('draw', function(data) {
  if(data.type === 'bar') {
    data.element.attr({
      style: 'stroke-width: 30px'
    });
  }
});
</script>
      </div>
    </div>

<% include ../partials/footer.ejs %>


