<% include ../partials/header.ejs %>

   <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
      <h2><%= response[0].surveyName %></h2>
     

        
        <!--<ul class="list-group">
        <li class="list-group-item">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySurveyModal">Survey 1 from db</button>        
        </li>
        <li class="list-group-item">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySurveyModal">Survey 2 from db</button>              
        </li>
        <li class="list-group-item">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySurveyModal">Survey 3 from db</button>              
        </li>       
        </ul>
        <% include ../partials/analysiscount.ejs %>-->
        <div class="ct-chart chartAnalysis"></div>
        <div >
          <ul class="legend">
    <li><span class="rating1"></span> Rating 1</li>
    <li><span class="rating2"></span> Rating 2</li>
    <li><span class="rating3"></span> Rating 3</li>
    <li><span class="rating4"></span> Rating 4</li>
</ul>

        

<script>
 
let chart = new Chartist.Bar('.ct-chart', {
  labels: ['Q1', 'Q2', 'Q3', 'Q4', 'Q5'],
  series: <%- analytics %>.data
}, {
  stackBars: true,
  // plugins: [
  //                   Chartist.plugins.ctAxisTitle({
  //                       axisX: {
  //                           axisTitle: 'Number Of Users',
  //                           axisClass: 'ct-axis-title',
  //                           offset: {
  //                               x: 0,
  //                               y: 50
  //                           },
  //                           textAnchor: 'middle'
  //                       },
  //                       axisY: {
  //                           axisTitle: 'Questions',
  //                           axisClass: 'ct-axis-title',
  //                           offset: {
  //                               x: 0,
  //                               y: -1
  //                           },
  //                           flipTitle: false
  //                        }
  //                   })
  //               ]
  axisY: {

    labelInterpolationFnc: function(value) {
     // console.log(value);
    //  return (value*<%=response.length %>) ;
    return(value)
    }
  }
}).on('draw', function(data) {
  if(data.type === 'bar') {
    data.element.attr({
      style: 'stroke-width: 50px'
    });
  }
});
</script>
      </div>
    </div>

<% include ../partials/footer.ejs %>


