<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
     <br>
     <br>
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
               <p class="heading">Contact Us</p>
               <p class="heading2"> Get in touch with us to get the ball rolling</p>
               </div>
             
            <div class="col-md-offset-3 col-md-6 col-sm-4 ">
                <br>  
                <div class="col-md-4 col-sm-12">
                   <a href="mailto:vishav.deep27@gmail.com"><i class="fa fa-envelope fa-5x" aria-hidden="true"></i></a> 
                </div>
                <div class="col-md-4">
                    <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
                </div>
                <!--Facebook-->


              
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>