<% include ../partials/header.ejs %>

   <div class="container" style="margin-left:200px">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2 class="section-subheading">Survey Tips</h3>
                </div>
            </div>
            <div class="row text-center">

             <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">How To design?</h4>
                    <p style="color:#1a2732"  >
                    Designing a great survey is like writing a great research paper—before you write about your findings, you need to ask questions about your research goal, your process, and break down your topic into manageable parts.

                    So before you start writing survey questions, ask yourself the big questions: What is the purpose of this survey? What do I hope to learn? How will the data I collect influence my decisions?
                    </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">How to get responses?</h4>
                    <p style="color:#1a2732">
                    Once you’ve written your clear, well-formatted survey, it’s time to get people to take it. But where do you begin? You know who you want to take your survey, but how do you get it to them?

                    To make sure your data to be statistically significant, you first need to figure out how many people should take your survey–and what you can do to get a representative sample of the population. In order to reach the right people, you’ll also need to choose the appropriate survey mode (phone poll, paper questionnaire, in-person interview, or online survey) for your target population.
               </div>

               <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">How To Analyze?</h4>
                    <p style="color:#1a2732">
                    Success! You’ve got survey results. Now what? Because you need quality data to make accurate assessments and predictions, make sure the data you have is reliable, then slice and dice it to develop insights.

Were all your respondents completing your survey? Did they skip enough questions to taint your results? Did they really try to answer, or did they satisfice by picking easy but inaccurate answers? Look for irregularities to make sure your results are accurate.

Then try to answer the questions you had when you started the survey. Do text analysis to draw conclusions from open ended questions where people gave written answers.
And once you’ve found the data you’re looking for, find an effective way to present it.
                    </div>
               
            </div>
        </div>

<% include ../partials/footer.ejs %>


